.sidebar {
  position: fixed;
  padding: 20px;
  width: 64px;
  height: 100vh;
  background: var(--background-color);
  color: white;
  left: 0;
  top: 0;
  border-right: 3px solid var(--primary-color);
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logo img {
  width: 40px;
  height: 40px;
}

.containerList {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 0;
}

.navList a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2px;
}

.navList a svg {
  padding-bottom: 25px;
  padding-top: 25px;
}
.navList a.active {
  color: var(--primary-color);
}

.navList a:hover {
  color: var(--secondary-color);
  filter: drop-shadow(0 0 3px var(--secondary-color));
}

.configuration {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.configuration a {
  color: #ffffff;
}

.configuration a.active {
  color: var(--primary-color);
}

.configuration a:hover {
  color: var(--secondary-color);
  filter: drop-shadow(0 0 3px var(--secondary-color));
}
