.discover {
  padding: 0;
  min-height: calc(100vh - 70px);
  color: #ffffff;
  animation: fadeIn 0.8s ease-out;
}

.toggleGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 20px 0;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  box-shadow:
    2px 2px 0 #000,
    4px 4px 0 #ff0000;
}

.toggleButton {
  font-family: "Tektur";
  font-size: 17px;
  position: relative;
  color: #727272;
  border-radius: 0;
  border: none;
  padding: 10px 15px;
  border-right: 2px solid #000;
  font-weight: 700;
  transition: all 0.3s ease;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.toggleButton::after {
  content: "";
  position: absolute;
  border-right: 2px solid var(--secondary-color);
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: var(--secondary-color);
  transition:
    width 0.2s ease,
    height 0.2s ease,
    opacity 0.2s ease,
    border-radius 0.2s ease;
  z-index: -1;
}

.toggleButton:hover::after {
  animation: fadeInOut 0.7s ease infinite;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  opacity: 1;
}

.toggleButton:last-child {
  border-right: none;
}

.toggleButton:hover {
  color: #000;
}

.toggleButton.active {
  background-color: var(--secondary-color);
  color: #000;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
