@font-face {
  font-family: "Saira-Black";
  src: url("./assets/fonts/Saira-Black.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Saira-Bold";
  src: url("./assets/fonts/Saira-Bold.ttf") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Saira-BlackItalic";
  src: url("./assets/fonts/Saira-BlackItalic.ttf") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Saira-BoldItalic";
  src: url("./assets/fonts/Saira-BoldItalic.ttf") format("woff2");
  font-weight: 900;
}

:root {
  font-family: "Saira-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #ff1e1e;
  --secondary-color: #ffd700;
  --background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
