.btn {
  font-family: "Tektur", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #08080c;
  background: white;
  border: none;
  border-radius: 0px;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition:
    background 0.2s,
    transform 0.15s,
    box-shadow 0.15s;
  box-shadow:
    3px 3px 0 #000,
    6px 6px 0 #ff0000;
}

.btn:hover {
  transform: translate(-3px, -3px);
  box-shadow:
    6px 6px 0 #000,
    10px 10px 0 #ff0000;
  background: var(--secondary-color);
}

.btn:active {
  transform: translate(3px, 3px);
  box-shadow:
    0 0 0 #000,
    0 0 0 #ff0000;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  color: #000;
}

.btn:disabled:hover {
  background-color: white;
  transform: none;
  box-shadow:
    3px 3px 0 #000,
    6px 6px 0 #ff0000;
}
