.corner {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  filter: drop-shadow(3px 3px 3px var(--primary-color));
  transition:
    opacity 0.3s ease,
    filter 0.3s ease,
    scale 0.3s ease;
  z-index: 3;
}

.tl {
  top: -8px;
  left: -8px;
}

.tr {
  top: -8px;
  right: -8px;
}

.br {
  bottom: -8px;
  right: -8px;
}

.bl {
  bottom: -8px;
  left: -8px;
}
