.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 12px;
  flex-wrap: wrap;
}

.pagesContainer {
  display: flex;
  background-color: white;
  box-shadow:
    2px 2px 0 #000,
    4px 4px 0 var(--primary-color);
  border-radius: 0;
  overflow: hidden;
}

.pageBtn {
  font-family: "Saira-Bold", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  border: none;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 2px solid #000;
  transition: color 0.3s ease;
}

.pageBtn:hover {
  color: #000;
  background-color: var(--secondary-color);
  animation: fadeInOut 2s ease infinite;
}

.pageBtn:last-child {
  border-right: none;
}

.pageBtn.active {
  background: var(--secondary-color);
  color: #000;
  pointer-events: none;
}

.ellipsis {
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  pointer-events: none;
}

@keyframes fadeInOut {
  0% {
    background-color: rgba(var(--secondary-color-rgb), 0.3);
  }
  50% {
    background-color: rgba(var(--secondary-color-rgb), 0.8);
  }
  100% {
    background-color: rgba(var(--secondary-color-rgb), 0.3);
  }
}
